/*    Card CSS    */
#accountCard {
    width: min(1000px, 90vw) !important;
    margin-top: 600px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: var(--foreground_color);

}

.inputFieldShort {
    margin-left: 50px;
    margin-right: 50px;
    width: calc(100% - 100px);
    height:40px;
    border-radius: 8px;
    border: 1px solid var(--color_green);
    box-sizing: border-box;
    
    font-family: var(--general_font_family);
    font-size: var(--general_font_size);
    color: var(--general_text_color);
    font-weight: var(--general_text_font_weight);
    text-align: left;
}

#profileImgDisplay {
    width: min(500px, 50%);
    height: min(auto, 400px);
    margin-left:50px;
}
#fileButton {
    margin-left:50px;
}
.accountLabel {
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}

#pWSubmitButton {
    margin-left: calc(50% - 300px);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: calc(100% - 400px);
    height: 50px;
    border-radius: 8px;
    position: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 200px;
    background-color: var(--color_green);

    font-family: var(--general_font_family);
    font-size: var(--general_font_size);
    font-weight: var(--heading_text_font_weight);
    color: var(--color_white);
}

#pWSubmitButton:hover {
    background-color: var(--color_forest_green);
}