#barChart {
    height: 30vh;
    width: 30vw;
}

#radarChart {
    height: 30vh;
    width: 30vw;
}

#pieChart {
    height: 30vh;
    width: 30vw;
}

#reportList {
    height: 80vh;
    width: 18vw;
}

#carbonBreakdown {
    height: 80vh;
    width: 48vw;
}

.column {
    float: left;
}
  
.left, .right {
    width: 19.5%;
}
  
.middle {
    width: 49.5%;
}

.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}