.profcard {
  transform: translateY(24px);
margin: 1em;
  padding: 1em;
  padding-top: 0.5em;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0 4px 10px 0 rgba(24, 24, 24, 0.1);
  width: auto;
  height: 800px;
  display: flex;
}

.roww {
  flex-direction: row;
}

.col {
  flex: 1;
  width: auto;
}

.col h1 {
    padding: 0.5em;
}

.left,
.right {
  width: 19.5%;
}

.btn-group {
    width: 150px;
    display: inline-block;
}

.btn-group button {
  display: block; /* Make the buttons appear below each other */
}

.containerr {
  overflow: hidden;
}

.breakdownTips {
  overflow-y: auto;
}

.columnLeft {
  display: block;
  float: left;
}

.columnRight {
  display: block;
  float: right;
}

.barChart {
  height: 200px;
  width: 300px;
  margin: 1em;
}

.pieChart {
  height: 150px;
  width: 150px;
  margin: 1em;
  margin-left: 28%;
}

.lineGraph {
  height: 200px;
  width: 300px;
  margin: 1em;
}

.colgraphs {
    flex-direction: column;
}

.tips {
    width: 400px;
    padding-bottom: 0.5em;
    list-style-image:  url(../assets/leafIcon.png);
    
}


.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    margin-left: -1em;
    padding: 0;
    width: auto;
}  

.flex-child:first-child {
    margin-right: 20px;
} 

.listt {
    margin-left: 1.4em;
}