#reportList {
    height: 80vh;
    width: 18vw;
}

#carbonBreakdown {
    height: 40vh;
    width: 48vw;
}

.column {
    flex-direction: column;
    margin-right: 3vw;
}


.card {
    margin: 1em;
    padding-top: 0.5em;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 4px 10px 0 rgba(24, 24, 24, 0.1);
}

.reports-list-card {
    width: auto;
    min-width: 250px;
    height: 450px;
    flex-direction: column;
    text-align: center;
}

  