:root {
    --big_image_size: 60%;
    
}

/* layout */

.container {
    display: flex;
    width: 100%; 
    height: 100%; 
    justify-content: space-between;
    overflow: hidden;
}

.column {
    flex-direction: column;
    margin: 0.5em;
}

.row {
    flex-direction: row;
    margin: 0.5em;
}

/* Card Stylings */

#projectListCard {
    background-color: var(--foreground_color);
    width: 12vw;
    height: 45.5vh;
    border-radius: 0.5em;
    margin: 0.5em;
    flex-direction: column;
}

#carbonReportListCard {
    background-color: var(--foreground_color);
    width: 12vw;
    height: 45.5vh;
    border-radius: 0.5em;
    margin: 0.5em;
    flex-direction: column;
}

#currentProjectCard {
    background-color: var(--foreground_color);
    width: 70vw;
    height: 91vh;
    border-radius: 0.5em;
    font: bold;
    
}

#projectAdminCard {
    text-align: center;
    background-color: var(--foreground_color);
    width: 17vw;
    height: 45vh;
    border-radius: 0.5em;
    margin-bottom: 1vh;
}

.projectAdminHead {
    text-align: center;
    padding-top: 1vh;
    font-family: var(--general_font_family);
    font-weight: bold;
}

#membersList {
    background-color: var(--foreground_color);
    width: 17vw;
    height: 45vh;
    border-radius: 0.5em;
    padding: 0.5em;
    display: flex;
}

/* Header ID stylings */

#projectListHeader{
    text-align: center;
}

#currentProjectHeader {
    text-align: left;
}

#projectAdminHeader {
    text-align: center;

}

/* Assorted Text Stylings */

#projectListID {
    height: 80%;
    padding: var(--card_standard_padding)
}

#adminName {
    text-align: center;
}

#adminEmail {
    text-align: center;
}

/* Image CSS */
#adminImageHolder {
    display: flex;
    justify-content: center;

}

#adminImage {
    width: var(--big_image_size);

}

.imageIcon {
    width: var(--icon_image_size);
}


.centerContent {
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-bottom: solid 1px #F0F0F0;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}



.projectSummary {
    padding: 1vh;
    width: 100%; 
    height: 91vh;
    border-radius: 0.5em;
    margin: 0.5em;
    flex-direction: row;
}

.projectAnalytics {
    padding: 1vh;
    height: auto;
    width: auto;
    background-color: white; 
    border-radius: 0.5em;
    margin-bottom: 1vh;
}

.projectBreakdown {
    height: 65vh;
    width: 100%;
    padding: 1vh;
    background-color: white; 
    border-radius: 0.5em;
    margin-bottom: 1vh; 
}

/* display pictures */

.adminPicture {
    margin: 0.5em;
    width: 275px;
    height: 275px;
    border-radius: 50%;
    object-fit: cover;    
}


.teamMemberPicture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

/* buttons */

button {
    color: #fff;
    background: #5B7444;
    border: none;
    border-radius: 7px;
    width: 120px;
    height: 35px;
    cursor: pointer;
    font-size: small;
    transition-duration: 0.2s;
    margin: 0.25em
}

button:hover {
    background-color: #134A2C;
    color: #fff;
}

.delete-project-btn {
    background: #f94144;
    color: #fff;
}

.delete-project-btn:hover {
    background-color: #dc2f02;
    color: #fff;
}

button.ant-modal-close {
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: color 0.3s;    
}
