/* layout */

.container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

}

.column {
  flex-direction: column;
  display: inline-flex;
}

.row {
  flex-direction: row;
}

/* ignore this - just hard coded for functionality bandaid */
.center {
  overflow-x: hidden;
  position: absolute;
  font-family: var(--general_font_family);
  font-size: 2em;
  font-weight: 400;
  color: var(--color_hay_yellow);
  margin-left: 25%;
  margin-right: 35%;
  height: 80% !important;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* modal styling */

/*global*/
.ant-modal-content {
	border-radius: 0.5em;
}

.custom-modal .ant-modal-footer {
  text-align: center;
}

.custom-modal .ant-modal-content {
	text-align: center;
}

.custom-modal .ant-btn-primary {
	color: #fff;
	border-color: #4A7634;
	background: #4A7634;
}

.custom-modal .ant-btn-primary:hover {
	color: #fff;
	border-color: #95C11F;
	background: #95C11F;
}

/* form styling */

.new-project-form > * {
  text-align: center;
}

.form-input {
	width: 300px;
  border: 1px solid #A3C586;
  border-radius: 6px;
  padding: 5px 9px;
  margin: 1em;
  margin-bottom:20px;
}

/* data styling */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.label {
  font-size: 15px;
  cursor: pointer;
}
.lists {
  overflow-y: hidden;
  height: 340px;
  border-bottom: solid 1px #f0f0f0;
}

.member-container {
  overflow-y: hidden;
}

.member-container:hover, .member-container:active, .member-container:focus {
  overflow-y: overlay;
}

.lists:hover, .lists:active, .lists:focus {
	overflow-y: overlay;
}

.lists-item {
  background: #fff;
  padding: 0.4em;
  padding-left: 0.7em;
  vertical-align: middle;
  cursor: pointer;
}

.lists-item:nth-child(odd) {
  background: #f0f0f0;
}

.lists-item:hover {
  background: #4e6655;
  color: white;
}

.team-member-item {
  display: inline-block;
  padding: 0.5em;
}
.team-text {
  margin-left: 1em;
  display: inline-block;
  vertical-align: middle;
}

/* Card Stylings */

.card {
  margin: 0.5em;
	padding-top: 0.5em;
  background-color: white;
  border-radius: 0.5em;
	box-shadow: 0 4px 10px 0 rgba(24, 24, 24, 0.1);
}

.projects-list-card {
	width: auto;
  min-width: 250px;
  height: auto;
  flex-direction: column;
  text-align: center;
}

.projects-list-card h2 {
  text-align: center;
}

.reports-list-card {
  width: auto;
  min-width: 250px;
  height: auto;
  flex-direction: column;
  text-align: center;
}

.reports-list-card h2 {
  text-align: center;
}

.project-admin-card {
  text-align: center;
  width: 350px;
  height: auto;
  min-height: 400px;
  max-width: 350px;
  border-radius: 0.5em;
}

.project-admin-card h3 {
  text-align: center;
}

.members-list-card {
  width: auto;
  height: auto;
  min-height: 400px;
  max-width: 350px;
  border-radius: 0.5em;
  display: flex;
	padding: 1em;
  flex-direction: column;
}

.members-list-card h2 {
  text-align: center;
}


.project-analytics-card {
  transform: translateY(6px);
  padding: 1em;
  height: auto;
	max-height: 890px;
  width: auto;
  min-width: 300px;
}

.test {
  margin: -1em;
}

/* Header ID stylings */

.center-text > * {
	text-align: center;
}

.project-list-header {
  text-align: center;
}

.current-project-header {
  text-align: left;
}

.project-admin-header {
  text-align: center;
  padding-top: 1vh;
  font-family: var(--general_font_family);
  font-weight: bold;
}

/* display pictures */

.admin-pic {
  margin: 0.5em;
  width: 275px;
  height: 275px;
  border-radius: 50%;
  object-fit: cover;
}

.team-member-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

/* buttons */

.admin-btns {
  
}

button {
  color: #fff;
	background: #4A7634;
	border: 1px solid transparent;
  border-radius: 4px;
  width: 120px;
  height: 35px;
  cursor: pointer;
  font-size: small;
  transition-duration: 0.2s;
  margin: 0.5em;
	text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

button:hover {
  color: #fff;
	border-color: #95C11F;
	background: #95C11F;
}

.delete-btn {
  background: #dc2f02;
	border: 1px solid transparent;
  color: #fff;
}

.delete-btn:hover {
  background-color: #f94144;
	border: 1px solid transparent;
  color: #fff;
}

button.ant-modal-close {
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.3s;
}

